@font-face {
    font-family: f;
    src: url(Raleway/Raleway.ttf);
} 
* {
    font-family: f;
}
.menu {
    width: 1600px;
    height: 934px;
    background: url(img/BG.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.blue nav, button, img{
    display: inline; 
}
.blue img {
    float:left;
    margin-top: 10PX;
    margin-left: -150px;
}
.blue svg {
    margin: 0 auto;
    margin-left: -140px;
}
.blue .img1 {
    margin-left:-400px ;
    margin-top: -5PX;
    padding: 0px;
}
.blue nav, button{
    margin:20px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;  
}
.blue nav a {
    text-decoration: none;
    color: white;
     margin:20px;
}
.blue {
    text-align: center;
    padding: 5px;
    margin-left: 400px;
}
.blue button{
    border: none;
    background: #4997d3;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}
.gg h4, p{
    width: 500px;
    height: 60px;
    margin-left: 220px;
    color:white;
}
.gg h4{
    word-spacing:15px;
    font-size: 40px;
    margin-top: 120px;
    font-weight: 400;
}
.gg p {
    font-size: 30px;
    margin-top: -40px;
}
header .dd {
    display: inline-flex;
}
.dd {
    margin-left: 220px;
}
.dd button {   
    margin-top: 60px;
}
.dd .wow {
    background: white;
    color: black;
    width: 200px;
    height: 70px;
    border-radius: 5%;
    border: none;
    text-transform: capitalize;
}
.dd .wow::before {
    content: url(img/google_play.png);    
}
.dd .wow1 { 
    border: none;
    background: #4997d3;
    border-radius: 5%;
    width: 200px;
    height: 70px;
}
.flaby {
    background: url(img/outline\ mockup.png);
    background-size: cover;
    margin: 0 auto;
    width: 460px;
    height: 700px;
    margin-right: 260px;
    margin-top: -692px;
}
.phone{
  margin-top: -522px;
  margin-left: 910px;
}
.earbuds img{
    float: inline-end;
    margin-top: -120px;
}
.bb {
    text-align: center;
    margin-top: 80px;
}
.bb svg {
    margin-bottom: 110px;
}
.bb h4 {
    color: rgb(136, 136, 136);
}
.perv ul li{
    display: inline-block;
    width: 400px;
    height: 200px;
    font-size: 30px;
    margin-right: 40px;
    margin-left: 10px;
}
.perv p {
    color: rgb(0, 0, 0);
    width: 400px;
    height: 200px;
    margin: 0 auto;
    font-size: 20px;
    color: rgb(136, 136, 136);
}
.bb1 {
    text-align: center;
    margin-top: 600px;
    margin-bottom: 0px;
}
.bb1 svg {
    margin-bottom: 110px;
    margin-top: 0;
}
.bb h4 {
    color: rgb(136, 136, 136);
}
.perv1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.perv1 ul li{
    display: inline-block;
    width: 500px;
    height: 200px;
    font-size: 30px;
    margin-right: 40px;
    margin-left: 10px;  
    margin-top: 100px;
}
.perv1 p {
    color: rgb(136, 136, 136);
    text-align: left;
    font-size: 20px;
    width: 300px;
    height: 200px;
    margin-left: 180px;
}
.cl1 img, .cl1 h5{
    display: inline;
}
.cl1 img {
    margin-right: 10px;
}
.en button, .en input{
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.nk {
    background: whitesmoke;
    border: 0;
    border-radius: 50px;
    width: 350px;
    height: 80px;
    font-size: 20px;
}
.em {
    background: rgb(212, 224, 234);
    border: 0;
    border-radius: 50px;
    width: 350px;
    height: 80px;
    font-size: 20px;
}
.en .sb {  
    background: #81c8ff;
    border: 0;
    border-radius: 50px;
    width: 350px;
    height: 80px;
    font-size: 20px;
    padding: 30px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 100px;
}
.podv {
    display:flex;
    margin: 0 auto ;
    justify-content: center;
}
.podv1 img {
    width: 200px;
}
.podv1 {
    margin-top: 100px ;
    margin-right:100px;
}
.podv1 p {
    color: rgb(136, 136, 136);
    margin-left: 2px;
    width: 280px;
    font-size: 20px;
}
.meow ul {
    display: inline-block;
    width: 200px;
    margin-bottom: 100px;
}
.meow ul li {
    display: block;
    font-size: 25px;
    color: black;
}
.meow p {
  color: rgb(136, 136, 136);
  margin: 0 auto;
  font-size: 20px;
}
footer svg {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}