.line li{
    display: inline-block;
    background: pink;
    padding: 10px;
}
.links a{
    display: block;
    font-weight: 10px;
    color: white;
    background: blue;
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
}
.blocks div{
    display: inline;
    background: red;
    padding: 10px;
    margin-top: 10px;
}
.blocks .non {
    display: none;
}
.links-markers {
    display: list-item;
    color: white;
    background: black;
    margin-top: 30px;
    padding:10px;
}
.links-markers a {
    display:block;
    color: white;
}
.image {
    margin-bottom: 15px; 
  }
.post1 .image::after {
    content: url("../practika9/media/weather-blizzard.jpg");
    float: left; 
    border-style: dotted;
    border-color: red;
    margin: 15px;
}
.post2 .image::after {
    content: url("../practika9/media/weather-blizzard.jpg");
    float: right;
    border-style: dotted;
    border-color: red;
    margin: 15px;
} 
.post1 {
    background: #930303;
    font-weight: 10px;
    color: white;
    margin: 10px;
}
.post2 {
    background: #930303;
    font-weight: 10px;
    color: white;
    margin: 10px;
}

